<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Charts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CoreMood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MoodTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ViewModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C263E941C298ABD00389124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C7F05F11D15A40300F7FF66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C7F05FA1D15A40300F7FF66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB30E7F1D12E3DE00D48052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC650D61C0DFD8100CD7FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC650EA1C0DFD8100CD7FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC650FE1C0DFDB000CD7FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC651071C0DFDB000CD7FCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
